<form method="POST" action="/artists">
    <input type="text" name="name" placeholder="Name">
    <input type="number" name="age" placeholder="Age">
    <input type="text" name="bio" placeholder="Bio">
    <input type="submit" value="Submit new" >
</form>